form(action="", method="post")
    label(for="name") Name:
    input#title.form-control(type="text", name="name")
    label(for="type") Type:
    input#title.form-control(type="text", name="type")
    label(for="brand") Brand:
    input#title.form-control(type="text", name="brand")
    label(for="reviews") Reviews:
    input#title.form-control(type="text", name="reviews")
    label(for="price") Price:
    input#title.form-control(type="text", name="price")
    label(for="ram") RAM:
    input#title.form-control(type="text", name="ram")
    label(for="storage") Storage:
    input#title.form-control(type="text", name="storage")
    label(for="display") Display:
    input#title.form-control(type="text", name="display")
    label(for="camera") Camera:
    input#title.form-control(type="text", name="camera")

    button.btn.btn-primary(type="submit" role="submit") Submit
